rules_version = '2';

function isNow(dt) {
  return dt is timestamp && dt == request.time;
}
function getIncomingAuth() {
  return request.auth;
}
function getIncomingId() {
  return request.resource.id;
}
function getIncomingData() {
  return request.resource.data;
}
function getExistingData() {
  return resource.data;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow get, list, create, update, delete: if false;
    }
    match /randomCollection/{document=**} {
      allow get, list, create, update, delete: if false;
    }
    match /publicNotices/{document=**} {
      allow get: if true;
      allow list, create, update, delete: if false;
    }
    match /memberNotices/{document=**} {
      allow get: if getIncomingAuth() != null;
      allow list, create, update, delete: if false;
    }
    match /userTodos/{document=**} {
      function getUserTodosKeys(){
        return ['id', 'uid', 'task', 'completed', 'createdAt', 'updatedAt'];
      }
      function canGetUserTodo(){
        return getIncomingAuth().uid == getExistingData().uid; // UTG0 - UTG0.unauth,  UTG0.auth,  UTG0.wrongUser
      } 
      function canCreateUserTodo(){
        let incoming = getIncomingData();
        let keys = getUserTodosKeys();
        // UT.C.0.A
        return incoming.keys().hasAll(keys) // UT.C.1.D
          && incoming.keys().hasOnly(keys) // UT.C.2.D
          && getIncomingId() == incoming.id // UT.C.3.D
          && isNow(incoming.createdAt) // UT.C.4.D
          && isNow(incoming.updatedAt) // UT.C.5.D
          && getIncomingAuth().uid == incoming.uid // UT.C.6 - UT.C.6.D.unauth,  UT.C.6.D.wrongUser
      }
      function canUpdateUserTodo(){
        let incoming = getIncomingData();
        let existing = getExistingData();
        let keys = getUserTodosKeys();
        // UT.U.0.A
        return incoming.diff(existing).affectedKeys().hasOnly(['task', 'completed', 'updatedAt']) // UT.U.1.D
          && incoming.keys().hasAll(keys) // UT.U.2.D
          && incoming.keys().hasOnly(keys) // UT.U.3.D
          && isNow(incoming.updatedAt) // UT.U.4.D
          && getIncomingAuth().uid == existing.uid // UT.U.5.D - UT.U.5.D.unauth,  UT.U.5.D.wrongUser
      }
      allow get: if canGetUserTodo();
      allow create: if canCreateUserTodo();
      allow update: if canUpdateUserTodo();
      // allow list, create, update, delete: if false;
    }
  }
}