rules_version = '2';

function getIncomingAuth() {
  return request.auth;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow get, list, create, update, delete: if false;
    }
    match /randomCollection/{document=**} {
      allow get, list, create, update, delete: if false;
    }
    match /publicNotices/{document=**} {
      allow get: if true;
      allow list, create, update, delete: if false;
    }
    match /memberNotices/{document=**} {
      allow get: if getIncomingAuth() != null;
      allow list, create, update, delete: if false;
    }
  }
}